.tarefa {
    display: flex;
    flex-direction: column;
    align-items: center;
    border: .5px solid #ff0000;
    padding: 10px 15px;
    border-radius: 10px;
    width: 100%;
    margin: auto auto 20px;
}

.dados-tarefa {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 10px;
    width: 90%;
}

.checkbox {
    width: 2rem;
    height: 2rem;
}

.titulo-tarefa {
    padding: 5px 10px;
    width: 50%;
    border: .5px solid gray;
    border-radius: 5px;
}

.descricao {
    outline: none;
    width: 90%;
    resize: none;
    border-radius: 5px;
    padding: 5px 10px;  
    max-height: 5vh;
}

.adicionar-tarefa {
    margin: 10px auto 0;
    color: white;
    font-weight: bold;
    padding: 5px;
    border-radius: 10px;
    border: none;
    background-color: #ff0000;
    transition: .2s;
    box-shadow: 0 2px 0 #b30000;
}

button:active {
    transform: scale(0.95);
    background-color: #b30000;
}